node_modules/
dist/
dist-local/
dist-check/
dist-deploy/
build/
coverage/
.vscode/
.idea/
.next/
out/
.nuxt/
.cache/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.env
.env.local
.env.*.local
.DS_Store
yarn-error.log
npm-debug.log
*.lock
NUL
nul
configurar-emailjs-automatico.js
